/*  POINTS DE RUPTURE (breakpoints)
 ***************************************/
$phone          : 320px;
$phone-wide     : 543px;
$tablet         : 768px;
$tablet-wide    : 991px;
$desktop        : 1200px;
$desktop-wide   : 1600px;

/*  CONTENEURS (containers)
 ***************************************/
$container-width: 1170px;
$sidebar-width  : 360px;
$gutter-width   : 20px;

/*  Couleurs (colors)
 ***************************************/
$white: #fff;
$bg-gray: #fafafa;
$gray: #c6c6c6;
$font-gray: #747474;
$black: #000;
$blue: #6095ec;
