* {
  @include box-sizing(border-box);
  font-family: 'Open Sans', 'Arial', sans-serif;
}

a {
  text-decoration: none;
  color: $black;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
}
